

body {
    background-color: rgb(88, 202, 88);
  }
  
  .container {
    color: white;
    background: yellowgreen;
  }


  h1 {
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }