

body{
    background-color: powderblue;
    color: white;
  }
  
  .container {
    color: white;
    background: yellowgreen;
  }


  h1 {
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }